.dropdown-menu {
  position: absolute;
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: var(--base);
  box-shadow: 0px 3px 3px silver;
  border-radius: 1rem;
  transform-origin: top center;
  animation: dropdown-animation 200ms cubic-bezier(0.25, 0.1, 0.25, 1) both;
}

.dropdown-delete-btn {
  color: white;
  background-color: #e62222 !important;
}

.dropdown-delete-btn:hover {
  background-color: #fd2525 !important;
}

@keyframes dropdown-animation {
  from {
    opacity: 0;
    transform: scale(0.9) translateX(-50%);
  }
  to {
    opacity: 1;
    transform: scale(1) translateX(-50%);
  }
}
