* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.announcements {
  /* padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px; */
  padding: 20px 30px 50px 30px;
  background-color: #eff0f3;
  min-height: 100vh;
  width: 100vw;
}

.announcements img {
  width: 40px;
  border-radius: 50%;
}

.announcements .container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 90px;
}

@media (max-width: 991px) {
  .announcements .container {
    gap: 20px;
  }
}

@media (max-width: 767px) {
  .announcements {
    padding: 10px;
    padding-bottom: 51px;
  }

  .announcements-button {
    height: fit-content;
    justify-content: center;
    margin-right: 4px;
    padding-right: 21px;
    display: flex;
    flex-wrap: wrap;
    /* Ensure buttons wrap to the next line if necessary */
    justify-content: center;
    /* Center the buttons horizontally */
    gap: 10px;
    /* Add spacing between buttons */
    padding: 10px;
    /* Add padding for better spacing */
  }

  .announcements .container {
    grid-template-columns: auto;
  }
}

.announcements .container > div {
  background-color: white;
  box-shadow: 0px 3px 3px silver;
  padding: 15px 0px 40px;
  padding: 15px 20px;
  border-radius: 20px;
}

.announcements .container .sect-notifaction {
  padding: 30px 40px;
}

.announcements .container .sect-notifaction .sect-card {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #d9d9d9;
  border-radius: 10px;
  max-width: 250px;
  cursor: pointer;
  transition: all 200ms;
}

.announcements .container .sect-notifaction .sect-card:hover {
  transform: translateY(-4px);
}

@media (max-width: 767px) {
  .announcements .container .sect-notifaction .sect-card {
    max-width: 100%;
  }
}

.announcements .container .sect-notifaction .sect-card .desc {
  overflow: hidden;
}

.important-announcement {
  background-color: #fbdc8e;
}

.urgent-announcement {
  background-color: #fb958e;
}

/* .announcements .container .sect-notifaction > div:nth-child(3) {
  background-color: #a5b4fc;
} */

.announcements .sect-card .desc p:first-child {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 3px;
}

.announcements .sect-card .desc p:nth-child(2) {
  font-size: 12px;
  color: #71727a;
}

@media (min-width: 768px) {
  .announcements .sect-card .desc p:nth-child(2) {
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* ending section one */

.sect-announce {
  padding: 40px 70px 40px 40px !important;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.announce-desc {
  display: flex;
  gap: 50px;
  align-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.announce-desc img {
  width: 120px;
}

@media (max-width: 767px) {
  .announce-desc img {
    border-radius: 50%;
  }
}

.announce-desc .desc P:first-child {
  font-size: 33px;
  font-weight: 700;
}

.announce-desc .desc P:last-child {
  color: #9f9f9f;
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .announce-desc {
    gap: 20px;
  }
  .announce-desc .desc P:first-child {
    font-size: 18px;
    margin-bottom: 4px;
  }
  .announce-desc .desc P:last-child {
    font-size: 12px;
  }
}

.the-announce {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.the-announce p {
  font-weight: 500;
  font-size: 33px;
  line-height: 1.6;
}

@media (max-width: 767px) {
  .the-announce p {
    font-size: 18px;
    line-height: 1.4;
  }
}

@media (max-width: 991px) {
  .sect-announce {
    padding: 30px 40px 30px 30px !important;
  }

  @media (max-width: 767px) {
    .sect-announce {
      padding: 10px 5px !important;
    }
  }

  .announcements .announce-desc img {
    width: 90px;
  }

  .announcements .announce-desc .desc P:first-child {
    font-size: 25px;
  }

  .announcements .announce-desc .desc P:last-child {
    font-size: 18px;
  }

  .announcements .the-announce p {
    font-size: 25px;
  }
}
