.mobile-nav {
  position: fixed;
  z-index: 9999;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--background);
  border-radius: 2rem;
  padding: 10px 0;
  width: 95vw;
  box-shadow: 0 7px 7px 0px #0000005c;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav .bottomNav-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--primary);
}

.mobile-nav .bottomNav-icon-wrapper .bottomNav-icon {
  font-size: 22px;
  color: #aaa;
}

.mobile-nav .bottomNav-icon-wrapper .bottomNav-icon:hover {
  color: var(--primary);
}

.mobile-nav img {
  width: 32px;
  border-radius: 50%;
}
