.mobile-nav {
  position: fixed;
  z-index: 9999;
  bottom: 1rem;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%);
  border-radius: 2rem;
  padding: 1rem 0;
}

@media (min-width: 858px) {
  .mobile-nav {
    display: none;
  }
}
@media (max-width: 858px) {
  .mobile-nav {
    width: 95vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    text-align: center;
    gap: 10px;
    padding: 1rem;
    box-shadow: 0 7px 7px 0px #0000005c;
  }
}

.mobile-nav i {
  font-size: 20px;
  padding: 15px 0px;
}
