.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  z-index: 10000;
  opacity: 0;
  transition: opacity 300ms ease;
}

.modal-overlay.show {
  opacity: 1;
}

.modal-overlay.hide {
  opacity: 0;
  pointer-events: none;
}

.modal-content {
  background-color: var(--background, #fff);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  position: relative;
  max-width: 600px;
  width: 90%;
  /* min-height: 300px; */
  max-height: 80vh;
  overflow-y: auto;
  transform: scale(0.9);
  opacity: 0;
  transition: transform 300ms ease, opacity 300ms ease;
  display: flex;
  flex-direction: column;
}

.modal-content.show {
  transform: scale(1);
  opacity: 1;
}

.modal-content.hide {
  transform: scale(0.9);
  opacity: 0;
}

.modal-close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #666;
  transition: color 0.3s ease;
}

.modal-close-button:hover {
  color: #000;
}