@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --primary: #6366f1;
  --primary-bold: #4338ca;
  --primary-extra-bold: #1e1b4b;
  --secondary: #a5b4fc;
  --secondary-light: #eef2ff;
  --base: #d9d9d9;
  --highlight: #777777;
  --main-padding-top: 20px;
  --main-padding-bottom: 20px;
  --main-margin: 30px;
  --secondary-color: #f8f9fe;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
}
/* 
li {
  list-style: none;
} */

.btn {
  color: white;
  background-color: var(--primary);
  border-radius: 10px;
  padding: 15px 50px;
  cursor: pointer;
  box-shadow: 3px 3px 0px 0px #2e2f35;
  transition: 0.3s;
  font-weight: 600;
  letter-spacing: 0.7px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn:hover {
  background-color: var(--primary-bold);
  /* letter-spacing: 8px; */
  /* box-shadow: -3px -3px 0px 0px #2e2f35; */
}

.chip-btn {
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 24px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid transparent;
  white-space: nowrap;
}

.back-btn {
  padding: 0.25rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10;
  left: 10;
}

@media (max-width: 767px) {
  .chip-btn {
    height: fit-content;
    padding: 8px 20px;
  }
}

.chip-btn:hover,
.chip-btn-selected {
  background-color: var(--primary);
  color: white;
  transition: 0.3s;
  border: 2px solid black;
}

.reusable-input {
  display: block;
  /* margin-bottom: 1.5rem; */
  width: 100%;
  padding: 12px 20px;
  background-color: var(--base);
  border-radius: 8px;
  border: none;
  outline: none;
  font-weight: 600;
}

.container {
  /* padding-left: 15px;
  padding-right: 15px; */
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .error-msg {
    font-size: 12px;
    color: red;
  }
}

@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 90%;
  }
}

/* Utility class to hide an element on small screens */
.hide-on-small {
  display: block !important;
}

@media (max-width: 767px) {
  .hide-on-small {
    display: none !important;
  }
}

.show-on-small {
  display: none !important;
}

@media (max-width: 767px) {
  .show-on-small {
    display: block !important;
  }
}

/* to display the new content */
.html-content {
  width: 100%;
}

.html-content h1,
.html-content h2,
.html-content h3,
.html-content h4,
.html-content h5,
.html-content h6 {
  margin: 1rem 0;
}

.html-content p {
  margin-bottom: 1rem;
}

.html-content ul,
.html-content ol {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.notification-count {
  position: absolute;
  top: 0%;
  right: 0%;
  background: var(--primary);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
}

/* Add these styles to your style.css file */

.blurred-image {
  filter: blur(10px);
  pointer-events: none;
}

.disabled-stat {
  cursor: not-allowed;
  opacity: 0.7;
}

/* Prevent image selection and saving */
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  /* user-drag: none; */
  user-select: none;
}

/* Style for private account message */
.private-account-message {
  text-align: center;
  padding: 2rem;
  margin: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}
